name: Prepare release manually
on:
  workflow_dispatch:
    inputs:
      prerelease:
        description: "Version as prerelease"
        required: false
        default: false
        type: boolean
      graduate:
        description: "Graduate prereleases to stable"
        required: false
        default: false
        type: boolean

jobs:
  prepare-release:
    name: Prepare release
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # Fetch full history for melos versioning
          fetch-depth: 0
          # Use a token that can trigger workflows
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: "flutter-:os:-:channel:-:version:-:arch:-:hash:" # optional, change this to force refresh cache
          cache-path: "${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:" # optional, change this to specify the cache path
          architecture: x64 # optional, x64 or arm64

      - name: Run Melos
        uses: bluefireteam/melos-action@v3
        with:
          run-versioning: ${{ inputs.prerelease == false }}
          run-versioning-prerelease: ${{ inputs.prerelease == true }}
          run-versioning-graduate: ${{ inputs.graduate == true }}
          publish-dry-run: true
          create-pr: true
